body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding:=0;
	margin: 0;
	background-color: green;
}
/*header #brand h1{
	margin-bottom: 50px;
	font-size: 40px;
}*/
header{
	text-align: center;
	background: green;
	color: cyan;
	padding-top: 30px;
	min-height: 100px;
	border-bottom: #e8491d 3px solid;
	width: 100%;
}
h1 #brand h1{
	background: #00795f;
	width: 100%;
	padding: 40px 0;
	text-align: center;
	margin-bottom: 50px;
	font-size: 40px;

}
a{
	text-decoration: none;
	color: inherit;
}
nav ul{
	background-color: #43a286;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin: 0;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;

}
nav ul li:hover{
	background-color: #399077;
}
nav ul li{
	display: inline-block;
	padding: 20px; 
}
.handle{
	width: 100%;
	background: #005c48;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display: none;
}
@media(max-width: 635px){
	nav ul{
		max-height: 0;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
        padding: 15px;
        text-align: left;
    }

    .handle{
    	display: block;
    }
    #showcase{
    	background: url('../image/africa.jpg') width=500px 0 -400px;
    }
}
/*header ul{
	margin: 0;
	padding: 0;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	background: #e8491d;
	text-align: center;
	display: inline;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
}
header #brand{
	float: middle;
}

header nav{
	text-align: center;
	margin-top: 10px;
}
header .highlight, header .current a{
	color: #333;
	font-weight:bold;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
}*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.button_1{
	height: 38px;
	background: cyan;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #333;
}
#showcase{
	min-height: 400px;
	background: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
	text-align: center;
	color: black; 

}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
	font-size: 20px;
}
/*newsletter*/
#newsletter{
	padding: 15px;
	color: #ffffff;
	background: #999;
	margin-bottom: 0;
}
#newsletter h1{
	float: left;
}
#newsletter form{
	float: right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}
#boxes{
	margin-top: 20px;
	border-top: #e8491d 3px solid;
}
#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
#boxes .box img{
	width: 90px;
}
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #999;
	text-align: center; 
}
.container h1{
	text-align: center;
	padding: 0;
	margin: 0;
}
#cv legend{
	text-align: center;
}
#cv fieldset{
	margin: 0;
	padding: 0;
}
#cv fieldset h2{
	padding-right: 10px;
	padding-left: 10px;
	background: cyan;
}
#cv fieldset h3{
	padding-right: 10px;
	padding-left: 10px;
	background: #e8491d;
	text-align: right;
}
.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
aside#sidebar{
    float: center;
    width: 30%;
    margin-top: 10px;
    width: 65%;
    padding: 5px;
}


#main-col{
	text-align: center;
	width: 90%;
	padding-left: 20px;
	padding-right: 0;
	margin-bottom: 20px;
	margin-top: 10px;
	background: transparent;
}
.form{
	padding: 0;
	margin: 0;
	background: #333;
	color: white;
	max-width: 70%;
}
.project{
	text-align: center;
	width: 90%;
	background: #999;
	color: #ffffff;
}
.project legend{
	font-style: italic;
	padding-left: 10px;
	padding-right: 10px;
	background: #e8491d;
}
.project thead{
	font-style: italic;
	background: cyan;
	padding-right: 10px;
	padding-left: 10px;
	color: #e8491d;
}

  

@media(max-width: 635px){
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    #showcase,
    #cv .field
    .project table tr{
    	float: none;
    	text-align: center;
    	width: 100%;

    }
    
    header nav li{
    	display: none;
    }
}
@media(max-width: 635px){
    .navigation{
    	margin: 0;
    	padding: 0;
    }
    #sideBar{
	    position: fixed;
	    width: 200px;
	    height: 100%;
	    background: grey;
	    left: -200px;
	    transition: all 500ms linear;
   }
   #sideBar.active{
	    left: 5px;

   }
   #sideBar  ul li {
	    color: white;
	    list-style: none;
	    padding: 15px 10px;
	    border-bottom: 1px solid rgba(100,100,100,0.3);
	}
    #sideBar .toggle-btn{
	   position: absolute;
	   left: 200px;
	   top: -200px;

    }
    #sideBar .toggle-btn span{
	   display: block;
	   width: 30px;
       height: 5px;
       background: #151719;
       margin:5px 0px; 
   }
}






  
@media(min-width: 635px){
	div#button-box{
    	display: none;
    }
}

   
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;
}
a{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}
    
    
    







































